body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
  background-color: #E0E1DD;
  overflow:hidden;
}

a {
  color: #00B7FF;
}

.header_view{
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  height: 25%;
  background-color: #778da9;
  
}

.welcome_message{
  display:block-inline;
  color:white;
  margin-left: 15%;
  height: auto;
  width:100%;
  
}

#welcome_logo{
  float:left;
  margin-right: 1%;
  margin-top: -30px;
}

#login_header{
  font-size: 20px;
}

#log_out_button{
  margin-bottom: 10px;
}


.header_button{
  background-color: rgb(65, 90, 119); 
  color: white;
  height: 2.5em;
  font-size: 20px;
  border-radius: 12px;
  border:1px solid rgb(27, 38, 59);
  font-size: 15px;
  padding: 7px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  width: 12em;
  float: right;
  margin-bottom: 10px;

}

#header_wrapper{
  width: 50%;
  margin-right: 0;
  float:left;
}

#header_button_container{
  float: right;
    width: 20%;
    height: 100px;
    margin-right: 2%;
}

#header_button_wrapper{
  float:right;
  width: 12em;
  padding-right: 20%;
}

#welcome_text{
  float:left;
  margin-right: 2em;
  font-size: 20px;
}

#in_game_username{
  margin:0;
  font-size: 20px;
}

.add_item_header{
  float:left;
  padding-left: 20%;
  padding-right: 3%;
  margin:0;
  color: #415A77;
  font-size: 25px;
  width: 30%;
}

.add_item_button {
  background-color: rgb(65, 90, 119); /* Green */
  border-radius: 12px;
  border:1px solid rgb(27, 38, 59);
  float:right;
  position:relative;
  font-size: 15px;
  padding: 7px;
  color: rgb(255, 255, 255);
  margin-left: 1%;
  width: 20%;
  height: 2.5em;
  margin-top: -1px;
}

.item_entry_wrapper{
  float:right;
  width: 70%;
  padding-right: 20%;
}

.item_input {
  color: rgb(13, 27, 42);
  float:right;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255); /* Green */
  border-radius: 1em;
  border:1px solid rgb(27, 38, 59);
  box-sizing: border-box;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 1%;
  width: 20%;
  height: 2.5em;
  position: relative;
  border-style:solid;
  padding-left:10px;
}

.item_entry_view {
  padding-top: 2%;
  background-color: rgb(224, 225, 221);
  padding-bottom: 2%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  height:100px;

}

.item_table_wrapper{
    padding-right: 20%;
    padding-left: 20%;
    width: 100%;
    background: white;
    height: 100%;
}

.items_table_view{
  width:100%;
}
#items_table_view{
    height: 100%;
}

.item_page_view{
  height:100%;
  width: 100%;
}

#item_overflow_wrapper{
  height: 50%;
  overflow-y: auto;
}

#item_overflow_wrapper::-webkit-scrollbar {
  display: none;
}


.remove_item_button{
  background-color: rgb(65, 90, 119); /* Green */
  border-radius: 12px;
  border:1px solid rgb(27, 38, 59);

  position:relative;
  font-size: 15px;
  padding: 7px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  width: 6em;
  height: 2.5em;
  margin-top: -1px;
  float:right;
}
tr.item_row>td {
  padding-bottom: 2.5em;
  border-bottom: .5px dashed #415A77;
  padding-top: 2.5em;
  width:25%;
}


.qr_small{
  width: 60px;
  height: 60px;

}

.qr_large{
  width:120px;
  height: 120px;
}

.submit_2{
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, rgb(173, 77, 13), rgb(212, 107, 46));
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  display: none;
}
.counter_div{
  background-color:#B3C6C9;
  width: 800px;
  height: auto;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding-bottom: 20px;

}
.reg_view {
  background-color: #FFFFFF;
  width: 25%;
  height: 85%;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgb(51, 102, 153)
}

#signup_container{
  overflow:hidden;
  height:100%;
}

#login_logo{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.login_view {
  background-color: #FFFFFF;
  width: 25%;
  height: auto;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgb(51, 102, 153)
}


.login_header {
  padding-top: 40px;
  background-color: #778DA9;
  padding-bottom: 40px;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.login_input_field {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  }

  .login_submit_button {
    cursor: pointer;
    outline:none;
    width:34%;
    margin-bottom: 20px;
    border-radius: 5em;
    color: #fff;
    background: #415A77;
    border: 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 11%;
    margin-top: 6%;
    font-size: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    
    }

    .login_submit_button:active {
      border-radius: 1em;
      border: 1px #1b263b solid;
    }

    .login_submit_button:hover {
      background-color: #778da9;
    }
    #login_button_wrapper{

      margin-bottom: 8%;
    }
    #login_input_wrapper{
      margin-top: 8%;
    
    }

    

  #sign_up{
    padding-top: 5px;
    color: #415A77;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
  } 

  .signup_input_field{
    width: 80%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }


    #signup_input_wrapper{
      margin-top: 8%;
      overflow: auto;
      margin-bottom: 5%;
      height: 47%;
    }

    #signup_input_wrapper::-webkit-scrollbar {
      display: none;
    }

    #signup_button_wrapper{
      margin-bottom: 8%;
    }

    .signup_button {
      cursor: pointer;
      outline:none;
      width:33%;
      margin-bottom: 20px;
      border-radius: 5em;
      color: #fff;
      background: #415A77;
      border: 0;
      padding-left: 1%;
      padding-right: 1%;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 12%;
      font-size: 15px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      
      }

      #submit_back_button{
        float:right;
      }

.form1 {
  padding-bottom: 20px;
}
.button_2 {
  background-color: #4CAF50; /* Green */
  height:50px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
}
.button {
  background-color: #4CAF50; /* Green */
  height:50px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:20%;
}
.button_3 {
  background-color: #4CAF50; /* Green */
  height:50px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:80%;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

.sign {
  padding-top: 40px;
  background-color: rgb(224, 225, 221);
  padding-bottom: 40px;
  color: rgb(0, 153, 204);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  border-bottom: 2px solid rgb(0, 153, 204);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.sign_in {
  color: #415A77;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 0%;

  padding-bottom: 6%;
}

.small_l {
  color: rgb(0, 105, 153);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 10px;
}
.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, rgb(102, 153, 255), rgb(0, 153, 204));
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 15px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
    
  .log_out {
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, rgb(102, 153, 255), rgb(0, 153, 204));
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 15px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      width: 150px;
      height: 40px;
    }

    .item_cell {
      font-size: 14px;
      color: #415A77;
      margin-right: 17%;
      width:25%;
    }

    .item_cell_header{
      font-size: 14px;
      color: #415A77;
      padding-right: 20%;
    }

    #items_table_view_header{
      border-bottom: 2px solid #415A77;
      padding-bottom: 3%;
      padding-top: 3%;
    }

    .item_table_header{
      font-size: 14px;
      color: #415A77;
      float:left;
      width:25%;
      text-align: left;
      /* border-bottom: 2px solid #415A77; */
    }

    #table_remove_header{
      text-align: right;
    }

    #text_value{
      color:black;
    }


    #setting_input_wrapper{
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
      margin-top: 50px;
      background-color: #E0E1DD;
      padding-top: 50px;
      border-radius: 5px;
      height: 60%;
      overflow-y: auto;
    }

    #setting_input_wrapper::-webkit-scrollbar {
      display: none;
    }


    .settings_input_field
    {
      width: 80%;
      color: rgb(38, 50, 56);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
      background: white;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(0, 0, 0, 0.02);
      margin-bottom: 50px;
      margin-left: 10%;
      text-align: center;
      margin-bottom: 27px;
      font-family: 'Ubuntu', sans-serif;
      }



        .settings_status_no {
          cursor: pointer;

          float:right;
          outline:none;
          width:30%;
          margin-right: 5%;
          border-radius: 5em;
          color: #fff;
          background: rgb(143, 63, 63);
          border: 0;
          padding-left: 1%;
          padding-right: 1%;
          padding-bottom: 8px;
          padding-top: 8px;
          font-family: 'Ubuntu', sans-serif;
          font-size: 15px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          
          }

        .settings_status_yes {
          cursor: pointer;

          float:right;
          outline:none;
          width:30%;
          margin-right: 5%;
          border-radius: 5em;
          color: #fff;
          background: rgb(72, 148, 76);
          border: 0;
          padding-left: 1%;
          padding-right: 1%;
          padding-bottom: 8px;
          padding-top: 8px;
          font-family: 'Ubuntu', sans-serif;
          font-size: 15px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          
          }

          .settings_button {
            cursor: pointer;
            outline:none;
            width:30%;
            margin-bottom: 20px;
            border-radius: 5em;
            color: #fff;
            background: #415A77;
            border: 0;
            padding-left: 1%;
            padding-right: 1%;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 15px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    
            }


        #settings_button_wrapper{
          margin-left: 10%;
          margin-right:10%;
          width: auto;
          margin-bottom: 50px;
        }


        #save_button{
          float:right;
        }

        #settings_view{
          height:100%;
        }

        #setting_text_wrapper{
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 2%;
          color: #415A77;
          margin-bottom: 100px;
          padding-bottom: 100px;
        }

        #trans_table_view_header{
          border-bottom: 2px solid #415A77;
          padding-bottom: 3%;
          padding-top: 3%;
        }

        .trans_table_view{
          width:100%;
        }

        .trans_table_wrapper{
          padding-right: 20%;
            padding-left: 20%;
            width: 100%;
            background: white;
            height: 100%;
            overflow-y:auto;
        }

        .transaction_view{
          height: 100%;
          overflow: hidden;
          width: 100%;
        }

        .transaction_header_text{
          float: left;
          padding-left: 16%;
          padding-right: 3%;
          margin: 0;
          color: #415A77;
          font-size: 25px;
          width: 40%;
          padding-top: 20px;
          padding-bottom: 20px;
      }
      
      
      

        .trans_table_header{
          font-size: 14px;
          color: #415A77;
          width:18%;
          text-align: center;
        }

        tr.trans_row>td {
          padding-bottom: 2.5em;
          border-bottom: .5px dashed #415A77;
          padding-top: 2.5em;
        }

        .trans_cell {
          font-size: 14px;
          color: #415A77;
          margin-right: 17%;
          width:18%;
          text-align:center;
        }
    
    
        #trans_overflow_wrapper{
          height: 50%;
          overflow-y: auto;
        }
        
        #trans_overflow_wrapper::-webkit-scrollbar {
          display: none;
        }
       